
<div class="container">

  <% @ranks.each do |rank| %>
    <% if rank.game == "Dota2" %>
      <div> <%= image_tag rank.image, height: 100, width: 100, crop: :fill %> </div>
    <% else %>
        <div> <%= image_tag rank.image, height: 50, width: 100, crop: :fill %> </div>
    <% end %>
    <div> <%= rank.name %> </div>
  <% end %>
</div>
