<div class="row">

    <% if @rooms.present? %>

      <nav class="nav flex-column">
        <ol>
        <% @rooms.each do |room| %>
          <li><%= link_to room.name, team_room_path(@team, room), class: "nav-link room-nav-link" %>
           <%= link_to "Delete room", team_room_path(@team.id, room.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
        <% end %>
        </ol>
      </nav>

    <% else %>
      <div class="text-muted">
        The are no rooms
      </div>
    <% end %>
</div>
<%= link_to "Back to team", team_positions_path(@team.id) %>
