<h1>Create a new chat</h1>
<div class="my-form">
  <%= simple_form_for [@team, @room] do |form| %>
    <%= form.input :name %>
    <%= form.submit "Save", class: 'btn btn-secondary' %>
  <% end %>
</div>
<br>
<%= link_to "Back to Team", team_positions_path(@team), class: 'btn btn-secondary'  %>
