.card-wrapper-player {

  border: solid 1px transparent; // needs to be transparent, as the image takes over, specify the size of the border here, solid doesnt matter
  border-radius: 4px; // You can change the radius to whatever you like
  background-image: linear-gradient(black, black), // this will be the background color of the element
                    linear-gradient(to bottom, white, transparent); // this will be the linear-gradient of the border you can use to top to reverse direction
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0px;


  .card-buttons {
    display: flex;

    a {
      font-size: 20px;
    }

    .button-card {
      border-radius: 8px;
      color: white;
      padding: 6px 36px;
      border: 1px solid white;
      background: red;
      margin-right: 24px;
    }
  }
}

.card-wrapper-player-flex {
  display: flex;
  padding: 12px;
}
.avatar-square-player {
  display: flex;
  align-items: center;
}

.card-position-player{
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.cards-player {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  padding: 5px;
  background: rgba(1, 1, 1, 0.47);
 }

.cards-main-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-position{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: white;
  margin: 10px;
  position: relative;

  h3 {
    font-size: 24px;
  }
   p {
    font-size: 16px;
  }

  .card-position-image {
    position: absolute;
    top: 20;
    right: 12;
  }
}


.card-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  display: flex;
  align-items: center;
  width: 400px;
}

.avatar-card-position{
 width: 100px;

}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 120px;
  // border-radius: 8px;
  box-shadow: 0 4px 6px hsla(0,0,0%,.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: #343a40;
  font-weight: bolder;
  // text-shadow: 0 0 2px rgba(0,0,0,0.3);
  transition: transform .3s;
}


.cards-dota2 {
  @extend .cards;
  color: $dota2-color;
  font-family: $dota2-font;
}

.cards-csgo {
  @extend .cards;
  color: $csgo-color;
  font-family: $csgo-font;
}

.cards-overwatch {
  @extend .cards;
  color: $overwatch-color;
  font-family: $overwatch-font;
}

.card:hover {
  transform: scale(1.02);
  // background: #b2b3b3;

}
.btn-padding {
  margin: 16px;
}

// show page
.container-show {
  align-items: center;
  justify-content: center;
}

.container-show-dota2 {
  @extend .container-show;
  color: $dota2-color !important;
  font-family: $dota2-font !important;
}

.container-show-csgo {
  @extend .container-show;
  color: $csgo-color !important;
  font-family: $csgo-font !important;
}

.container-show-overwatch {
  @extend .container-show;
  color: $overwatch-color !important;
  font-family: $overwatch-font !important;
}

.card-show {
  box-shadow: 0 4px 6px hsla(0,0,0%,.1);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-img-top {
  height: 250px;
}

img.avatar-large {
  margin: 14px;
}

.container-show {
  display: flex;
}

.application-links {
  margin-left: 50px;
  position: absolute;
  left: 10px;
}
