.border-gradient {
  border: solid 1px transparent; // needs to be transparent, as the image takes over, specify the size of the border here, solid doesnt matter
  border-radius: 8px; // You can change the radius to whatever you like
  background-image: linear-gradient(black, black), // this will be the background color of the element
                    linear-gradient(to bottom, white, transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card-wrapper-player {

  border: solid 1px transparent; // needs to be transparent, as the image takes over, specify the size of the border here, solid doesnt matter
  border-radius: 4px; // You can change the radius to whatever you like
  background-image: linear-gradient(black, black), // this will be the background color of the element
                    linear-gradient(to bottom, white, transparent); // this will be the linear-gradient of the border you can use to top to reverse direction
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0px;


  .card-buttons {
    display: flex;

    a {
      font-size: 20px;
    }

    .button-card {
      color: white;
      padding: 6px 36px;
      background: red;
      margin-right: 24px;
    }
  }
}

.form-control {
  background-color: black;
}

.player-avatar-big {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;

  @extend .border-gradient;
}

.player-stats {
  color: white;
  margin-top: 40px;
    h1 { margin-bottom: 24px;}
    h3 { margin: 0;}
}

.player-wrapper-avatar {
  display: flex;
  position: relative;
}

.player-rank {
  position: absolute;
  right: 56px;
  top: 40px;
}

.player-button-orange {
  @extend .border-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 190px;
  height: 55px;
  margin-right: 40px;
  padding: 0px;

  background-image: linear-gradient(#C6441B, #C6441B), // this will be the background color of the element
                    linear-gradient(to bottom, white, transparent); // this will be the linear-gradient of the border you can use to top to reverse direction
}

.invitation-card {
  position: relative;
  font-size: 20px;
  height: 100px;
  width: 100%;
  background: rgba(1, 1, 1, 0.4);
  color: white;
  a {
    color: white;
    font-size: 24px;
  }
  margin-bottom: 16px;
}

.invitation-wrapper {
  margin-top: 24px;
}

.invitation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  height: 40px;
  margin-right: 40px;
  padding: 0px;
  font-size: 16px;
}

.invitation-team-image {
  height: 90px;
  width: 90px;
  margin-right: 24px;
  @extend .border-gradient;
}

.player-button-green {
  @extend .border-gradient;
  @extend .invitation-button;
  background-image: linear-gradient(#0b3700, #0b3700),
                    linear-gradient(to bottom, white, transparent);
}

.player-button-black {
  @extend .border-gradient;
  @extend .invitation-button;
  background-image: linear-gradient(#C6441B, #C6441B),
                    linear-gradient(to top, white, transparent);
}

.player-button-red {
  @extend .border-gradient;
  @extend .invitation-button;
  background-image: linear-gradient(#000000, #000000 ),
                    linear-gradient(to bottom, white, transparent);
  &.top {
    background-image: linear-gradient(#000000, #000000),
                    linear-gradient(to top, white, transparent);
  }
}

.player-button-wrapper {
  right: 80px;
  position: absolute;
}

.card-wrapper-player-flex {
  display: flex;
  padding: 12px;
  position: relative;
  flex-wrap: wrap;
}
.card-rank {
  position: absolute;
  top: 8px;
  right: 8px;
}
.avatar-square-player {
  @extend .border-gradient;
  border-radius: 8px;
  img {
    border-radius: 0 0 8px 8px;
  }
  display: flex;
  align-items: center;
  background-image: linear-gradient(#FEFEFE, #FEFEFE),
                    linear-gradient(to top, white, transparent);
}

.card-position-player{
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.cards-player {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  padding: 5px;
  background: rgba(1, 1, 1, 0.47);
 }

.cards-main-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-position{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: white;
  margin: 12px;
  position: relative;

  h3 {
    font-size: 24px;
  }
   p {
    font-size: 16px;
  }

  .card-position-image {
    position: absolute;
    top: 20;
    right: 12;
  }
}


.card-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  display: flex;
  align-items: center;
  width: 400px;
}

.avatar-card-position{
 width: 100px;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify-items: center;
  a {
    text-decoration: none;
  }
}

.card {
  background-size: cover;
  background-position: center;
  height: 120px;
  // border-radius: 8px;
  box-shadow: 0 4px 6px hsla(0,0,0%,.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: #343a40;
  font-weight: bolder;
  // text-shadow: 0 0 2px rgba(0,0,0,0.3);
  transition: transform .3s;
}


.cards-dota2 {
  @extend .cards;
  color: $dota2-color;
  font-family: $dota2-font;
}

.cards-csgo {
  @extend .cards;
  color: $csgo-color;
  font-family: $csgo-font;
}

.cards-overwatch {
  @extend .cards;
  color: $overwatch-color;
  font-family: $overwatch-font;
}

.card:hover {
  transform: scale(1.02);
  // background: #b2b3b3;

}
.btn-padding {
  margin: 16px;
}

// show page
.container-show {
  align-items: center;
  justify-content: center;
}

.container-show-dota2 {
  @extend .container-show;
  color: $dota2-color !important;
  font-family: $dota2-font !important;
}

.container-show-csgo {
  @extend .container-show;
  color: $csgo-color !important;
  font-family: $csgo-font !important;
}

.container-show-overwatch {
  @extend .container-show;
  color: $overwatch-color !important;
  font-family: $overwatch-font !important;
}

.card-show {
  box-shadow: 0 4px 6px hsla(0,0,0%,.1);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-img-top {
  height: 250px;
}

img.avatar-large {
  margin: 14px;
}

.container-show {
  display: flex;
}

.application-links {
  margin-left: 50px;
  position: absolute;
  left: 10px;
}

.button-card-black {
  border: solid 1px transparent; // needs to be transparent, as the image takes over, specify the size of the border here, solid doesnt matter
  border-radius: 8px; // You can change the radius to whatever you like
  background-image: linear-gradient(black, black), // this will be the background color of the element
                    linear-gradient(to bottom, white, transparent); // this will be the linear-gradient of the border you can use to top to reverse direction
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.team-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify-items: center;
  a {
    text-decoration: none;
  }
}

@media (max-width: 700px) {
  .team-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) and (max-width: 992px) {
  .team-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.team-card {
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 16px;
  box-shadow: inset 0px 0px 84px black;
  position: relative;
  background-position: 50% 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: .2s ease;
  &:hover {
    background-size: 100%;
    transition: .2s ease;
  }
  .team-name-card {
    padding-top: 200px;
    font-size: 24px;
    color: white;
  }
  .team-region-card {
    color: #067275;
    font-weight: bolder;
    font-family: 'Ubuntu Condensed', serif;
    &:hover {
      opacity: 0;
    }
  }
}

.team-card-dota {
  background-color: rgba(4, 5, 45, 1);
  border: 1px solid rgba(4, 5, 45, 1);
}

.team-card-csgo {
  background-color: #7C4B00;
  border: 1px solid #7C4B00;
}

.team-player-roster-card {
  font-family: 'Ubuntu Condensed', serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(1, 1, 1, 0.8);
  &:hover {
    opacity: 1;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  p {
    font-size: 14px;
    color: #0AB1B7;
    margin-bottom: 8px;
  }
}

.team-card:hover .team-name-card{
  visibility :hidden;
}
.team-card:hover .team-region-card {
  visibility :hidden;
}
