.chat-messages {
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 8px;
  margin-bottom: 8px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat-message-container {
  margin: 4px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 8px;
  align-items: center;
  img {
    margin: 4px 8px;
  }

}
.chat-message-content {
  width: 100%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-form input:focus {
  background-color: black;
  color: white;
}
.chat-room-name {
  padding-top: 8px;
}
