
.rank-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .rank-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .rank-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .rank-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .rank-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .rank-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.rank-card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.rank-card-category-dota2 {
  @extend .rank-card-category;
  color: $dota2-color;
  font-family: $dota2-font;
}

.rank-card-category-csgo {
  @extend .rank-card-category;
  color: $csgo-color;
  font-family: $csgo-font;
}

.rank-card-category-overwatch {
  @extend .rank-card-category;
  color: $overwatch-color;
  font-family: $overwatch-font;
}


// <div class="<%= current_user.show_game == '1' ? 'rank-card-category-dota2' : 'rank-card-category-csgo' %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
