
.container-main{
  margin: auto 0;
  padding: 0 40px;
}

.container-top{
  display: flex;
  height: 250px;
  // padding: 16px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}


.btn-lrg{
  border: 1px solid white;
  border-radius: 4px;
  width: 200px;
}

.top-right{
  width: 200px;
}


.team-name {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 64px;
  font-family: 'Roboto', sans-serif;
}

.card-wrapper{
  justify-content: space-around;
  margin: 15px;
}

.position-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
}

.chat{
  text-align: center;
}


